<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	
	<!-- 日志输出器 ，写控制台 -->
	<appender name="ConLog" class="org.apache.log4j.ConsoleAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="DEBUG" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"		
				value="[CN][FANGLELE][%l][%d{yyyy-MM-dd HH:mm:ss SSS}][%-5p][hostName=%X{['rest_hostName']}][userMessage=%m]%n" />
		</layout>
	</appender>
	
	<!-- 日志输出器 ，写文件 -->
	<appender name="FileLog" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Encoding" value="UTF-8" />
		<param name="Threshold" value="DEBUG" />
		<param name="Append" value="true" />
		<param name="File" value="${user.home}/logs/springcloud-reg/springcloud-reg.log" />
		<param name="BufferSize" value="1024" />
		<param name="BufferedIO" value="false" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[CN][FANGLELE][%l][%d{yyyy-MM-dd HH:mm:ss SSS}][%-5p][userMessage=%m]%n" />
		</layout>
	</appender>
	
	<root>
		<priority value="INFO"></priority>
		<appender-ref ref="ConLog"/>
		<appender-ref ref="FileLog" />
	</root>
</log4j:configuration>
